[submodule "third-party/xxHash"]
	path = third-party/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "third-party/kanon"]
	path = third-party/kanon
	url = https://github.com/Conzxy/kanon
[submodule "third-party/kvarint"]
	path = third-party/kvarint
	url = https://github.com/Conzxy/kvarint
